/*Cabeçalho*/

#Cabecalho {
    width: auto;
    height: 60px;
    background-color: rgb(149, 255, 197);
}


/*Corpo*/

#container {
    width: auto;
    height: 400px;
}

.principal {
    height: 400px;
    float: left;
    width: 100%;
}

#Menu {
    display: none;
    visibility: hidden;
    width: 20%;
    height: 400px;
    background-color: chartreuse;
    vertical-align: top;
    float: left;
}

.principal#Mapa {
    background-color: coral;
    display: block;
    visibility: visible;
}

.principal#Van {
    background-color: darkmagenta;
    display: none;
    visibility: hidden;
}

.principal#Aluno {
    background-color: cornflowerblue;
    display: none;
    visibility: hidden;
}

.principal#Mensagem {
    background-color: forestgreen;
    display: none;
    visibility: hidden;
}

.principal#Conta {
    background-color: red;
    display: none;
    visibility: hidden;
}


/*Rodapé*/

#RodaPe {
    width: auto;
    height: 60px;
    background-color: rgb(149, 255, 197);
    position: relative;
}

div#DivRodape {
    float: left;
}

button {
    float: left;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

    button#Imenu {
        margin-left: 30px;
        background-color: aqua;
    }


.Imagem {
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 10px;
    position: relative;
    float: left;
}